/* navigation bar */
#navbar{
    flex-direction: column;
    align-items: center;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 10px;
    
}



/* home section */
#home{
    height: 450px;
}

#home::before{
    height: 530px;
}
#home p {
font-size: 12px;
}

/* service */
#services{
    flex-direction: column;
}
#services.box{
    flex-direction: column;
}



/* client section */



/* contact us */

/* footer */ 

/* utility classes */
.h-primary{
    font-size: 1.5rem;
}